extends layout

block content
  center
    img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/KPS_Consulting_Logo.svg/500px-KPS_Consulting_Logo.svg.png")

  br

  div(class="row search")
    div(class="col-sm-6 col-sm-offset-3")
      form(role="form" action="/search")
        div(class="input-group")
          input(type="text" class="form-control input-sm" placeholder="Search Routes" name="searchTerm" id="searchTerm")
          span(class="input-group-btn")
            button(class="btn btn-primary btn-sm" type="submit")
              span(class="glyphicon glyphicon-search" aria-hidden="true")

  div(align="center")     
   
      each i in items
        thead
          tr
            th #{i.regiondes } 
            th #{i.suberborigin } 
            th #{i.regionorigin } 
            th #{i.addressdes } 
            th #{i.suburdes } 
            th #{i.regiondes } 
            th #{i.countrydes } 
            th #{i.pritority } 
          br

        
 
     



