extends layout

block content
  div( style="margin-left:20%; margin-right:20%;")
      if message
          div(class="alert alert-dismissible alert-success" id="message")
              button(type="button" class="close" onclick="hideMessage();") &times;
              p(align="center") !{message}


  table(class="table table-striped table-hover")

    thead
        tr(class="info")
            th(width="30%") Origin Address
            th(width="30%") Destination Address
            th(width="20%") Priority
            th(width="20%") Transportation
            th(width="5%") Actions

        tr

    tbody
      if list != null
        each val in list
          tr
            th !{val.addressorigin} !{val.suburborigin} !{val.regionorigin} !{val.countryorigin}
            th !{val.addressdes} !{val.suburbdes} !{val.regiondes} !{val.countrydes}
            th !{val.priority}
            th
                if val.land
                    p Land
                if val.sea
                    p Sea
                if val.air
                    p Air
            th
                if (!manager)
                    a(class="btn btn-primary btn-xs", href="/routes/edit/" + val.id) Edit
                    form(action="/routes/delete/" + val.id, method="post")
                      button(name="delete" value="delete") Delete
                else
                    span(class="label label-primary") Manager Account Needed

  center
    a(href="/routes") Back to Top